a{
color:rgb(18, 95, 240)
}

p{
    color: #000000;

}
.nav
{
background-color:rgb(80, 82, 80);
display: flex;
justify-content:space-between ;
margin-block-end: 10px;
}

.buscador{
    display: flex;
    align-items: center;

}

.btn-ninja{
    box-shadow: 2px 2px black ;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(209, 197, 33);
    color: rgb(0, 0, 0);   
    margin-top: 10px ;
    padding: 5px 8px;
}

.container-education{

    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
}
.nav-title{
color:rgb(255, 255, 255) ;
margin: 1%;
}



.btn{
    box-shadow: 2px 2px black ;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 146, 177);
    color: rgb(255, 255, 255);  
    padding: 10px 20px ; 
    margin: 10px 30px;  
}

*{
margin: 1px;
padding: 1px;
font-family: cursive;
font-size: 30px;
}

main{
    display: flex;
}

.section-1{
flex: 3;
}





.section-2{
    flex: 2;
}

.container-texto{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0 0 30px 20px;
    gap: 10px;
}

.azul{
    background-color: aqua;
    height: 70px;
}

.perfil{
    border-radius: 65%;
    width: 65px;
    border: 1px solid rgb(110, 110, 110);
    position: relative;
    top: 35px ;
    left: 15px;
}

.texto{
    flex-direction: column ;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    justify-content: center;
}

.icono{
    width: 10px;
}

.btn-dojonari{
    height: 30px;
    box-shadow: 2px 2px black ;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(106, 207, 48);
    color: rgb(0, 0, 0);  
    display: flex;
    align-items: center;
    width: 60%;
    text-align: center;  
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.container-dojonari{
    border: 1px solid black;
    margin-right: 10%;
    text-align: center;
}
.container-btn{
    display: flex;
    justify-content: space-around;
}


.btn-2{
border: 2px solid rgb(0, 0, 0);
background-color: rgb(202, 202, 202);
border-radius: 50%;
width: 30px;
height: 30px;
}


.texto-reques{
    border: 1px solid rgb(255, 255, 255);
    margin-right: 20%;
}

.container, .container-2{
display: flex;
justify-content:space-between ;
align-items: center;

}